//sass mixin
$break-full: 1200px;
$break-tablet: 800px;
$break-phone: 576px;
$break-sm: 350px;

@mixin responsive($media) {
    @if $media==full {
        @media only screen and (max-device-width: $break-full) {
            @content;
        }
    }

    @else if $media==tablet {
        @media only screen and (max-device-width: $break-tablet) and (min-device-width: $break-phone) {
            @content;
        }
    }

    @else if $media==phone {
        @media only screen and (max-device-width: $break-phone) {
            @content;
        }
    }

    @else if $media==sm {
        @media only screen and (max-device-width: $break-sm) {
            @content;
        }
    }
}